.tile {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 20px;
    flex: 0 1 50%;
}

.gameTitle {
    font-size: 16px;
}

.gameVersion {
    color: var(--foreground-secondary);
    font-size: 12px;
}
