/*LED container*/
.body {
    background: rgb(8 8 8);
    border-radius: 200px;
    border: 3px solid black;
    display: flex;
    gap: 10px;
    padding: 20px;
}

/*LED*/
.led {
    --color: #000;
    --offColor: #383838;
    background: var(--offColor);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 5px inset #000;
}

.on {
    background: var(--color);
}

.flash {
    animation-duration: 500ms;
    animation-name: rev_flash;
    animation-iteration-count: infinite;
}

@keyframes rev_flash {
    0% {
        background: var(--offColor);
    }

    50% {
        background: var(--color);
    }

    100% {
        background: var(--offColor);
    }
}
